.sidebar{
  width:30%;
  background-color:#E9D5F4;
  float:right;
  border-left:2px solid #401B55;
  border-right:4px solid #401B55;
  border-top:6px solid #401B55;
  border-bottom:8px solid #401B55;
  padding:4px;
  margin: 6px;
}

img{
    float:left;
    border: 0.5px solid #401B55;
    padding:7px;
    margin:7px;
    background-color:#E9D5F4;
  }

h1{
  color:#401B55;
  text-align:center;
}
h2{
  background-color:#E9D5F4;
  font-style:italic;
  font-weight:bold;
  color:#6A1E2B;
  text-align:center;
}
h3{
  color:#401B55;
  font-family:cursive;
}
